.height80 { height: 80px; }
.erroneous-field{
    border-style: solid;
    border-width: 3px;
    border-color: red;
}
input.ng-invalid.ng-touched {
    border-color: red;
}
input.ng-valid.ng-touched {
    border-color: lightgreen;
}
