.height80 { height: 100px; }
.erroneous-field{
    border-style: solid;
    border-width: 3px;
    border-color: red;
}
input.ng-invalid.ng-touched {
    border-color: #a94442;
}
input.ng-valid.ng-touched {
    border-color: #78fa89;
}
